html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
}




.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px #590d22 ridge ;
    min-height:400px;
}

.footer{
    background-color: #590d22;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-top: 50px;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}


.mh-skills .mh-professional-skill{
    padding-right: 60px;
    color: white;
}
.mh-skills .mh-professional-skill h3{
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
}

.mh-professional-skills{
    padding-left: 20px;
}
.mh-professional-skills h3{
    line-height: 40px;
    text-align: center;
    margin-bottom: 60px;

}

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}
.mh-progress{
    margin-bottom: 10px;
    font: 90 1.14285/1 Cinzerl, cursive;
    color: rebeccapurple;
    
}

.mh-progress .progressbar-text{
    color: inherit; 
}
.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}


.progress.progress-line .progress-text{
    position :absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    
}

.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #512DA8;
}

.mh-progress path:nth-child(1){
  stroke: rgb(0, 0, 0,0.7);  

}

.mh-progress path:nth-child(1){
    stroke: #ffb3c1;  
    
  }
  .mh-progress path:nth-child(2){
      stroke: #590d22;
  }





  .candidatos{
      position:relative;
      margin-bottom: 15px;
  }

  .condidatos .parcial{
      display: inline-block;
      width: 100%;
      vertical-align: middle;
  }


  .candidatos .parcial .info{

    position:relative;

  }
  .candidatos .parcial .info .nome{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
}

.candidatos .parcial .info .percentage-num{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .progressBar{
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background-color: #ffccd5;
}


@keyframes  mymove{
    from{
        width: 0;
    }
}

.candidatos .parcial .percentagem{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    border-bottom-right-radius:10px ;
    background: #800f2f;
    transition: 3s all;
    animation: mymove 5s ;}

.precentual{
    animation-name: mymove;
}



.nome{
    color: #800f2f;
}
.percentage-num{
    color: #800f2f;

}
h3{
    color: #0f0f0f;
}








.bg{
    background-color: #590d22;
}

.btn-color{
    color: white;
    background-color: #505248;
}
body{
    background-color:#fff0f3 ;
}






label{
    color: #590d22;
}

.Gallery-container .Gallery-content a{
    text-decoration: none;
}

.mh-professional-skill .each-skills .candidatos .parcial .info{
    padding-top: 5px;
}

ul li a{
    color: white;
}



ul li a:hover{
    color: #ffb3c1;
}


address a:hover{
    color: #ffb3c1;
}

address{
    color: white;
}

.btn-social-icon {
    background-color: white;
}
address a {
    color: white;
}
